.header {
    width: 100%;
    max-width: 1920px;
    height: 83px;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #041527;
}
.main-header {
    /* position: fixed; */
    z-index: 1000;
    background: #041527;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
   color: #FFF;
   font-family: 'Great Vibes', cursive;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 18px;

}
.logo span{
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
 }
 .logo hr {
    width: 100%;
    height: 0px;
 }
 .logo .stars {
    display: flex;
    margin-top: 5px;
 }
 .logo .stars span{
    display: flex;
    font-size: 10px;
    margin: 0 4px;
 }


.sharetrade {
    font-family: 'Great Vibes', cursive;
    font-size: 36px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFF;
}

.com {
    font-family: Roboto Slab;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFF;
}

.logo_link:hover {
    text-decoration: none;
}

.log_out {
    color: white;
    margin-right: 60px;
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 600;
}

.fa-user {
    margin-right: 15px;
}

a {
    text-decoration: none;
}